.slider {
  margin-bottom: 0;
  font-size: 0px !important;
  line-height: 0px !important;
}

body {
  font-weight: 300;
}

b {
  font-weight: 500;
}

.intro-content img {
    width:45px;
    height:45px;
    border-radius: 50%;
    border: solid 1px #000;

}

.intro-content .tags {
  margin-bottom: 0px;
}

.slider img {
  width: auto;
  height: 150px;
  font-size: 0px !important;
  line-height: 0px !important;
}
.content-padded {
  margin: 30px 15px 15px;
}

.meet-prompt {
  font-size: 14px;
}

.intro-content li.table-view-cell {
  padding-right: 15px;
}


.feed li.media {
  padding-right: 15px;
}

.media-body {
  margin-right: 10px !important;
}

.carousel-outer {
  padding: 10px;
  height: 40px;
  margin-left: 10px;
  margin-top: -30px;
  margin-bottom: 0px;
}

.more-carousel {
  display: inline;
  position: relative;
  top: -15px;
  left: 5px;
}

.add-tags {
  margin-top: 15px;
}
.card-header .pull-left a {
  color: #666;
}

.event-reply {
  margin-top: 10px;
  margin-left: 90px;
}

.event-prompt a {
  color: #666 !important;
}

.event-prompt a.hov, a.hov:visited, a.hov:hover, a.hov:active {
  color: #666;
  text-decoration: none;
  border-bottom: 1px #aaa dashed;
}

.event-prompt .icon {
  border-radius: 50%;
  border: 1px solid #ccc;
  padding: 10px;
}

.carousel .icon {
  color: #666;
}

.carousel img {
  border-radius: 50%;
  border: solid 1px #000;
  display: inline;
  height: 45px;
  width: 45px;
  overflow-x: hidden;
}

.item-header {
  padding-right: 20px;
}

.row-header {
  font-size: 14px;
  color: #999;
}

.welcome-flash {
  padding: 15px;
  text-align: center;
}

.welcome-text {
  margin-top: 10px;
}

.stream-content {
  padding: 10px;
}

.stream-content p {
  margin: 0px;
}

.follow-prompt {
  padding-bottom: 30px;
}

.add-note-ta {
  padding: 10px;
  font-size: 14px;
}

body {
  overflow-x: hidden;
}
.note {
  border-left: 2px solid #ccc;
  padding-left: 10px;
}

.stream-time {
  font-size: 11px;
  color:#999;
}

#intro-pop {
  width: 170px;
  font-size: 14px;
  height: 170px;
  position: absolute;
  top: 230px;
  display: none;
  left: 130px;
  border: 1px solid #ccc;
  border-radius: 5px;
  z-index: 100;
}

#intro-pop ul {
  border: 0px;
}

#intro-pop li {
  border-top: 0px;
  padding: 10px;
}

.welcome-search {
  padding: 10px;
  margin-top: 20px;
}

.single-contact-profile {
  padding: 10px;
}

#startups-hidden {
  display: none;
}

h5 {
  color: #333;
  font-weight: 500;
  margin: 0 0 10px 0;
  padding: 0px;
}

hr {
  height: 0px;
  border-top:1px solid #999;
  border-bottom: 0px;
}

.subtitle {
  font-size: 13px;
  color: #666;
}

.main-av {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  border: solid 1px #000;
}

.feed img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: solid 1px #000;
}

.indiv-header {
  align: right;
  border-bottom: 1px solid #ccc;
}

.welcome-text .btn {
  font-size: 14px;
}

.event-logo {
  height: 20px;
}

.added {
  font-size: 12px;
  color: #999;
  display: inline;
}

.tags {
  background-color: #fff;
  display: inline-block;
  margin-bottom: 10px;
  color: #555;
  vertical-align: middle;
  max-width: 100%;
  background-color: transparent;
  font-size: 12px;
  margin-top: 0px;
  line-height: 2em;
}

.card-header {
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
}


.card-done {

  position: relative;
  top: 0;
  float: right;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  }

.srch {
width: 230px !important;
margin-right: 20px;
}

.intro-content {
  margin-top: 20px;
}

.intro-content .heading {
  margin-left: 10px;
  font-weight: 300;
  font-size: 18px;
  margin-bottom: 0px;
}


.intro-content .subheading {
  font-weight: 300;
  font-size: 13px;
  color: #999;
  margin-left: 10px;
  margin-bottom: 10px;
}

.single-contact-action {
  padding: 10px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.followup-reminder {
  border: 1px solid #ccc;
  background-color: rgba(255, 247, 221, 1.0);
  font-size: 14px;
  padding: 10px 20px 10px 20px;
  text-align: left;
  margin-top: 0px;
}
.single-contact-action .followup-reminder {

  border-radius: 5px;
}

.tag-header {
  padding: 0px 10px 10px 10px;
  text-align: center;
  margin-bottom: 10px;
}

.modal-header {
  padding: 10px;
}

.intro-search {
  margin-top: 0;
  margin-left: 10px;
}

.followup-reminder a {
  color: #333;
}

.followup-reminder .navigate-right:after {
  position: relative;
  right: -40px;
  top: -5px;
}

.no-dec {
  color: #000;
}

#tags_tagsinput {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
}

#tags_tag {
  border: 0px;
}

#tags_tag:active {
  border: 0px;
}


.welcome-text .navigate-right:after {
  top: 163px;
}

.welcome-text-2 {
  margin-top: 10px;
}

.welcome-text-2 .navigate-right:after {
  top: 86px;
}

.welcome-text-3 .navigate-right:after {
  top: 10px;
}


.single-contact-action .followup-reminder {
  margin-top: -10px;
  margin-bottom: 10px;
}

.single-contact-action button {
  font-size: 16px;
}

.intro-send button {
  font-size: 16px;
  margin-left: 70px;
}

.search-header {
  margin-bottom: 10px;
  margin-top: -10px;
  padding-left: 5px;
}

.tagsinput .tag {
  font-size: 14px;
    margin-right: 2px;
    color: white;
    font-weight: normal;
    background: rgba(94, 172, 173, 1.0);
    border-radius: .25em;
    padding: 4px;
}

.tagsinput .tag a {
  color: white;
}

.dotted {
  position: absolute;
  top: 105px;
  left: 80px;
  width: 50%;
  border-bottom: 2px dashed black;
}

.intro-send {
  display: block;
  padding: 10px;
  margin-top: 50px;
}
.intro-send .tags {
  margin-left: 10px;
  margin-top: 10px;
}

.intro-send .body {
  padding: 10px;
  font-size: 14px;
}

.intro-left {
  padding-left: 20px;
}

.intro-right {
  padding-right:  20px;
  text-align: right;
}


.tags .tag {
  margin-right: 2px;
  color: white;
  font-weight: normal;
  background: rgba(94, 172, 173, 1.0);
  border-radius: .25em;
  padding: 4px;
}

.intro-content .tag {
  background: #ccc;
}

.match {
  background: rgba(75, 206, 77, 1.0) !important;
}

.weak-match {
  background: rgba(236, 204, 84, 1.0) !important;
}

.card-done a, .card-done a:visited, .card-done a:hover {
  color: rgba(66, 139, 202, 1.0);
  font-size: 20px;
  font-weight: 300;
  text-align: center;
}


.tags.suggested .tag {
  background: #aaa;
}

.tags.smart .tag {
  background: rgba(35, 170, 100, 1.0);
}

.single-contact-header {
  height: 100px;
  padding: 10px;
}

.single-contact-header img {
  margin-right: 10px;
  width: 80px;
  height: 80px;
}

.single-contact-header h3 {
  font-size: 20px;
  margin-bottom: 2px;
}

.single-contact-header .linkedin {
  font-size: 13px;
}

.linkedin .fa {
  font-size: 16px;
}
